*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 50px;
    text-align: right;
    width: 100%;
}

header button{
    background-color: rgb(113, 113, 113);
    border-radius: 5px;
    color: white;
    margin: 5px;
    border: 0;
    padding: 5px;
    cursor: pointer;
}

main{
    
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-14{
    width: calc(100% / 7);
}

.content{
    margin: 10px;
    position: relative;
}

.name{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 14px;
    padding: 5px;
}

.content img{
    width: 100%;
}

footer{
    height: 100px;
    background-color: gray;
    display: flex;
    justify-content: space-between;
}

.footer-left{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-center{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer-right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .icon{
    color: white;
    text-align: center;
    padding: 0px 0px 0px 20px;
}

.mt-10{
    margin-top: 10px;
}

.green{
    color: green;    
}

.footer-right button{
    color: red;
    padding: 30px;
    border: 0;
    background-color: rgb(55, 55, 55);
    height: 100px;
}